<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="ja" th:replace="common :: meta_header('kawatora',~{::link},~{::script})">
</head>

<body class="c2">


	<div th:replace="common :: header"></div>

	<!--PC用（801px以上端末）メニュー-->
	<div th:replace="common :: pc_nav('company')"></div>


	<!--小さな端末用（800px以下端末）メニュー-->
	<div th:replace="common :: sp_nav"></div>

	<div id="contents" class="inner">
		<div id="contents-in">

			<div id="main">

				<div class="my-4 p-4 bg-primary text-white rounded">
					<h1 class="pt-3">河京関係資料</h1>
				</div>

				<div class="row row-cols-2 row-cols-md-3 g-4">
					<div class="col">
						<div class="card">
							<img src="images/sample1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">会社概要</h5>
							  <p class="card-text">こちらは会社概要を閲覧できます。</p>
							</div>
						  </div>
					</div>
					<div class="col">
						<div class="card">
							<img src="images/sample1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">経営理念</h5>
							  <p class="card-text">こちらは経営理念について閲覧できます。</p>
							</div>
						  </div>
					</div>
					<div class="col">
						<div class="card">
							<img src="images/sample1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">コアパーパス</h5>
							  <p class="card-text">こちらはコアパーパスについて閲覧できます。</p>
							</div>
						  </div>
					</div>
					<div class="col">
						<div class="card">
							<img src="images/sample1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">Kバリュー</h5>
							  <p class="card-text">こちらはKバリューについて閲覧できます。</p>
							</div>
						  </div>
					</div>
					<div class="col">
						<div class="card">
							<img src="images/sample1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">食品安全方針</h5>
							  <p class="card-text">こちらは河京の食品安全方針について閲覧できます。</p>
							</div>
						  </div>
					</div>
					<div class="col">
						<div class="card">
							<img src="images/sample1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">河京の歩み</h5>
							  <p class="card-text">こちらは河京の歴史について閲覧できます。</p>
							</div>
						  </div>
					</div>
				</div>
			</div>
			<!--/#main-->

			<div th:replace="common :: submenu"></div>
			<!--/#sub-->

		</div>
		<!--/#contents-in-->

	</div>
	<!--/#contents-->

	<div th:replace="common :: footer"></div>

	<div th:replace="common :: footer_script"></div>

	<script type="text/javascript">
		$(function () {
			table = $('#dataTable').DataTable();
			table.destroy();
			table = $('#dataTable').DataTable({
				language: {	// 日本語化
					url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
				},
				paging: false,	// ページングしない。
				ordering: true,	// ソートする
				mark: true	// 検索文字列ハイライト (by mark.js)
			});

		});
	</script>

</body>

</html>