<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="ja" th:replace="common :: meta_header('kawatora',~{::link},~{::script})">
</head>

<body class="c2">


    <div th:replace="common :: header"></div>

    <!--PC用（801px以上端末）メニュー-->
    <div th:replace="common :: pc_nav('contact')"></div>


    <!--小さな端末用（800px以下端末）メニュー-->
    <div th:replace="common :: sp_nav"></div>

    <div id="contents" class="inner">
        <div id="contents-in">

            <div id="main">

                <section>

                    <h2>確認画面</h2>

                    <!-- フォームの情報はここからです -->
                    <form method="post" action="/contact/finish" th:action="@{/contact/finish}">
                        <table class="ta1">
                            <tr>
                                <th>お問い合わせ内容<span style="color:red">※</span></th>
                                <td>
                                    <input readonly type="textarea" name="inquiry_text" th:value="${inquiry_text}">
                                </td>
                            </tr>
                        </table>
                        <div class="c">
                            <input type="submit" value="送信する" class="btn btn-primary">
                            <a href="/contact">
                                <input type="button" value="戻る" class="btn btn-secondary">
                            </a>
                        </div>
                    </form>
                    <!-- フォームの情報はここまでです -->

                </section>

            </div>
        </div>
        <!--/#main-->

        <div th:replace="common :: submenu"></div>
        <!--/#sub-->

    </div>
    <!--/#contents-in-->

    </div>
    <!--/#contents-->

    <div th:replace="common :: footer"></div>

    <div th:replace="common :: footer_script"></div>

</body>

</html>